.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}
.cell {
  color: black;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border: solid;
}

#Header {
  color:brown;
  text-align: center;
  font-size: 50px;
}