.container {
  height: 90vh;
  display: grid;
  margin-top: -50%;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  float: left;
}
.cell {
  color: black;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border: solid;
}

#Header {
  color:brown;
  text-align: center;
  font-size: 50px;
}

.content {
  position: relative; 
  left: 900px; 
  display: grid;
  grid-row: auto;
}
.content h1 {
  color: brown;
}
label {
  position: relative;
  font-size: 1rem;
  text-align: left;
  padding: 0;
  z-index: 5;
}

.cell-blank {
  background-color: black;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border: solid;
}

